<nav class="navbar fixed-top justify-content-between">
  <a routerLink="/dashboard">
    <img src="../../assets/svg/Logo.svg" class="logo" />
  </a>
  <div class="col-4">
    <ul class="nav navbar-nav navbar-right text-right" *ngIf="isAuthenticated">
      <li>
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="onSaveLines()">Save Lines</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="onFetchLines()">Fetch Lines</a>
      </li>
    </ul>
  </div>
</nav>
